@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    margin: 0px;
}

header {
    background-color: black;
    color: aliceblue;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin: 0px;
    text-align: center;
}

header > h1 {
    font-size: 5em;

    display: block;
    margin: 0px;
    font-variant: small-caps;
}

header > p {
    display: block;
    margin: 0px;
}

header > p > a {
    color: aliceblue;
    text-decoration: none;
}

header > p > a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

header > a {
    color: aliceblue;
    text-decoration: none;
}

header > a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

section {
    font-family: Caveat;
    font-weight: bolder;
    font-size: 6vw;
    padding-left: 1em;
}

div#img01 {
    background: black url(imagens/background001.jpg) no-repeat fixed center center/cover;
    margin: 0px;
}

div#img01 > section {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.4);

    width: fit-content;
    padding: 1em;
}

div#img01 > section > p {
    margin: 0px;
}

div#img02 {
    background: black url(imagens/background002.jpg) no-repeat fixed center center/cover;
    margin: 0px;
}

div#img02 > section {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.4);

    width: fit-content;
    padding: 1em;
}

div#img02 > section > p {
    margin: 0px;
}

footer {
    margin: 0;
    padding: 10px;
    color: aliceblue;
    background-color: black;

    text-align: center;
}

footer > p {
    margin: 0;
}

footer > p > a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

footer > p > a:hover {
    text-decoration: underline;
    font-weight: bolder;
}
