@charset "UTF-8";

:root {
    --roxo-claro:#6e4973;
    --roxo-medio:#603465;
    --roxo-escuro:#532259;
    --cinza-medio:#b1b1b1;
}

body {
    margin: 0px;
}

header {
    width: 100%;
    background-image: linear-gradient(180deg, var(--roxo-claro), var(--roxo-escuro) 60%);
    padding-top: 6vh;
    padding-bottom: 6vh;
    margin: 0px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 0px;
}

main {
    background-color: lightgrey;
    padding: 2vw;
}

h2 {
    margin: 0px;
    width: fit-content;
    padding: 5px;
    background-color: var(--cinza-medio);

    font-size: 2em;
}

p {
    font-size: 1.2em;
    font-family: sans-serif;
}
